{% extends 'MyShop/main.html' %} 
{% block a2 %}active{% endblock %}
{% block style %}
.body{
    background:#f8f9fa;
}
.card-img-top {
    height: 255px;
    object-fit:contain;
    width: auto;
    margin:auto;
}
.image-container{
    margin: auto;
}
.card-body {
  height: 200px;
}
.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 220px;
}

{% endblock %}
{% block body %}
<h2 class="px-5 mt-5">Explore all - {{products.0.product_category}}</h2>
<div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for product in products %}

        <div class="col">
          <div class="card shadow-sm m-2">
            <div class="image-container imgpr{{product.product_id}}">
                <img src="/media/{{product.product_img}}" class="card-img-top img-fluid" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
            </div>
 
            <div class="card-body">
              <h4 class='namepr{{product.product_id}}'>{{product.product_name|slice:"0:30"}}</h4>
              <p class="card-text">{{product.product_sdesc|slice:"0:30"}}...</p>
              <div class="d-flex justify-content-between align-items-center">

                <div class="btn-group">                 
                  <a href='/productview/{{product.product_id}}'><button type="button" id='pv{{product.product_id}}' class="btn btn-sm btn-outline-secondary">View Details</button></a>
                  <span class ='divpr{{product.product_id}} cart-btn'><button type="button" id='pr{{product.product_id}}' class="btn btn-sm cart btn-outline-secondary">Add to Cart</button>
                  </span>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>

        {% endfor %}

    </div>
    </div>
  </div>
{% endblock %}
{% block js %}
   
    function updateCartPopover(cart){
        console.log('updateCartPopover is running');
        console.log(cart);
        console.log(Object.keys(cart).length);

        if(Object.keys(cart).length > 0){
            var popStr = "";
            //popStr = popStr + "<h4>Items in your cart</h4>";
            var i = 1;
            console.log(cart);
            for(var item in cart){
              let qty = cart[item][0];
              let name = cart[item][1];

              popStr = popStr +  "<br>" + "<b>" + i + ". </b>" + name + "<b> Qty: </b>" + qty;
              i = i + 1;
            } 
            popStr = popStr + "<div class='my-2 mx-2'><a href='/checkout/' id='checkout' class='btn btn-primary'>Checkout</a><a id='clearcart' class='btn btn-primary mx-2'>Clear Cart</a></div>" 
            console.log(popStr);
            document.getElementById('popcart').setAttribute('data-bs-content',popStr);
            $(document).ready(function() {
                $('#popcart').popover();
            });
        }
    } 

{% endblock %}
