{% extends 'MyShop/main.html' %} 
{% block a3 %}active{% endblock %}
{% block style %}
.btn-dark{
    background:#191960;
}
.btn-dark:hover{
    background:black;
}
.container{
    background: #ededed;
    border-radius: 10px;
    box-shadow: 0px 0px 25px #bdbdbd;
}
{% endblock %} 
{% block body %}
<div class='container p-5 my-5'>
    <h2>Get In Touch!</h2>
    <h5 class='mb-5'>Tell us your issue, we're here to assist you.</h5>
    <form action='/contact/' method='POST'>
        {% csrf_token %}
    <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control" name="name" id="name" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Email address</label>
        <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
        <label for="phone" class="form-label">Phone</label>
        <input type="tel" class="form-control" name="phone" id="phone" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
        <label for="issue" class="form-label">Describe your Issue here</label>
        <textarea class="form-control" name="issue" id="issue" rows="3"></textarea>
    </div>
    
    <button type="submit" class="btn btn-dark">Submit</button>
    </form>
</div>
{% endblock %}
{% block js %}

function updateCartPopover(cart){
        console.log('updateCartPopover is running');
        console.log(cart);
        console.log(Object.keys(cart).length);
        var popStr = "";
        if(Object.keys(cart).length > 0)
        {
            //popStr = popStr + "<h4>Items in your cart</h4>";
            var i = 1;
            console.log(cart);
            for(var item in cart){
                let qty = cart[item][0];
                let name = cart[item][1];

                popStr = popStr +  "<br>" + "<b>" + i + ". </b>" + name + "<b> Qty: </b>" + qty;
                i = i + 1;
            } 
        
            popStr = popStr + "<div class='my-2 mx-2'><a href='/checkout/' id='checkout' class='btn btn-primary'>Checkout</a><a id='clearcart' class='btn btn-primary mx-2'>Clear Cart</a></div>" 
            console.log(popStr);
            {% comment %} document.getElementById('popcart').setAttribute('data-bs-content',popStr); {% endcomment %}
            {% comment %} $(document).ready(function() {
                $('#popcart').popover();
            }); {% endcomment %}
        }
        else
        {
            {% comment %} If cart is empty this code will get executed {% endcomment %}
            popStr = 'Your Cart is Empty. Add items to your cart to see them here.';
        }
            {% comment %} //getting the existing popover in popover variable and destroying or disposing it {% endcomment %}
        var popover = bootstrap.Popover.getInstance(document.querySelector('#popcart'));
        if (popover) {
            popover.dispose();
        }
        {% comment %} creating a new popover with content equal to popStr {% endcomment %}
        popover = new bootstrap.Popover(document.querySelector('#popcart'), {
            title: 'Your Cart',
            content: popStr,
            html: true
        });
        
        popover.show();        
    }

{% endblock %}
