{% extends 'MyShop/main.html' %} 
{% block a1 %}active{% endblock %}
{% block style %}
    

    .card-img-top{
        object-fit: contain;

    }
    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        background-color: black;
        border-radius: 20%;
       
        {% comment %} box-shadow: 0px 0px 5px black; {% endcomment %}

    }
 
    .prod-img{
        margin: auto;
        padding: 20px; 
    }
   
    .card2{
        background:#f3f7fd;
        border:none;

    }
    .card {
  border-radius: 0;
}
.carousel{
    width:100%;
    margin: auto;
}
.container{
    width: 80%;
}
.card-group{
    background:#f3f7fd;
}
.img-fluid{
    min-width: 50px;
    margin: auto;
}
{% comment %} .carousel-control-next, .carousel-control-prev{
    width: 3%;
} {% endcomment %}
.vd,.cart{
    padding: 6px 7px;
}
.prod-img{
    margin: auto;
    padding: 10px 0; 
    {% comment %} height: 250px; {% endcomment %}
    width: auto;
}
.see_more img{
    width: 50%;
    height:auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.see_more a{
    {% comment %} margin: auto; {% endcomment %}
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (min-width: 1000.98px) {
    .prod-img img{
    height: 240px;
    width: auto;
}
}
@media (max-width: 600.98px) {
  .container {
    width: 100%;
    padding: 0;
  }
  .vd,.cart{
    padding:2px 6px;
}
  .card-body{
    padding:3px;
  }
  .card-title,.cart,.vd{
    font-size: 12px;
  }
    .sdesc{
        display: none;
    }
    .see_more img{
    width: 50%;
    height:auto;
}
}


{% endblock %}
{% block body %}
{% load static %}

{% for product,range,number_of_slides,range2,p_category in allProducts %}
{% for c in p_category %}
<div class='row'>
<div id="carouselExampleAutoplaying{{c}}" class="carousel col slide car_carousel" data-bs-ride="carousel">
    <div class="container my-5 mb-5">
        
        <h1 class='my-4'>{{c}}</h1>
        
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="10000">
                <div class="card-group d-flex flex-wrap">
                            {% for p in product %}
                            <div class="card col-3 col-sm-3">
                                <div class='prod-img imgpr{{p.product_id}}'>
                                    <img src='media/{{p.product_img}}' class="card-img-top img-fluid" alt="...">
                                </div>
                                <div class="card-body">
                                <h5 class="card-title text-sm namepr{{p.product_id}}">{{p.product_name|slice:"0:40"}}...</h5>
                                <p class="card-text text-sm sdesc">{{p.product_sdesc|slice:"0:50"}}...</p>
                                {% comment %} <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> {% endcomment %}
                                {% comment %} <div class='row'>
                                    <a href='productview/{{p.product_id}}'><button type="button" id='pv{{p.product_id}}' class="col-sm-12 col-md-3 col-lg-5 pt-sm-2 btn btn-primary vd">View Details</button></a>
                                    <button type="button" id='pr{{p.product_id}}' class="btn btn-primary cart col-sm-12 col-md-3 col-lg-5 pt-sm-2">Add to Cart</button>
                                </div> {% endcomment %}
                                
                                <div class='row'>
                                <div class="col-sm-12 col-md-12 col-lg-6">
                                    <a href='productview/{{p.product_id}}'>
                                    <button type="button" id='pv{{p.product_id}}' class="btn btn-primary vd btn-block mb-2">View Details</button>
                                    </a>
                                </div>
                                {% comment %}divpr{{p.product_id}} - This is so that we can add plus and minus button using updateCart function in main.html {% endcomment %}
                                <div class="col-sm-12 col-md-12 col-lg-6 divpr{{p.product_id}} cart-btn">
                                    <button type="button" id='pr{{p.product_id}}' class="btn btn-primary cart btn-block mb-2">Add to Cart</button>
                                </div>
                                </div>

                                </div>
                            </div>
                            {% if forloop.counter|divisibleby:4 and forloop.counter > 0 and not forloop.last %}
                                </div></div><div class="carousel-item" data-bs-interval="10000"><div class="card-group d-flex flex-wrap">
                            {% endif %}
                            {% if forloop.last %}
                            <div class='card see_more col-3 col-sm-3'>
                                <a href="categories/{{c}}" class="">
                                    <img src="{% static 'MyShop/icons8-macos-maximize-90.png' %}" class='img-fluid'>
                                    <p>View all {{c}}</p>
                                </a>
                            </div>
                                {% for x in range2 %}
                                    <div class='card card2'></div>
                                {% endfor %}
                            {% endif %}
                            {% endfor %}
                                </div></div>                            
                            </div>
                        </div> 
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying{{c}}" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying{{c}}" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
</div>
</div>
{% endfor %}
{% endfor %}
{% endblock %}

{% block js %}
   <script>

    //Checking if the cart exists if no then make cart = {} else(it does already exists then ) get that cart object
    $(document).ready(function() {
    $('#popcart').popover();
    });

    if(localStorage.getItem('cart') == null){
        var cart = {};
    }
    else{
        cart = JSON.parse(localStorage.getItem('cart'));
        updateCart(cart);
    }
    //to update popover cart
    updateCartPopover(cart);
    //when add to cart is clicked increment the cart items if exists already else set cart items to 1.
    $(document).on('click', '.cart', function(){
        console.log('button Clicked');
        var idstr = this.id.toString();//this will store id of the element as a string
        console.log(idstr);
        if(cart[idstr] != undefined ){
            qty = cart[idstr][0] + 1;
            //If there already exists items in cart and a new item is added then increment cart item quantity by 1.
        }
        else{
            qty = 1;
            console.log('------------');
            console.log(idstr);
            name = document.getElementsByClassName('name' + idstr)[0].innerHTML;
            image = document.getElementsByClassName('img' + idstr)[0].getElementsByTagName('img')[0].getAttribute('src');
            cart[idstr] = [qty,name,image];
            //here cart[idstr] is undefined as cart is empty This is for first item that has been added to the cart.
        }
        console.log("-------------------");
        console.log(cart[idstr][0]);
        console.log(typeof(cart[idstr]));

        console.log(cart);

        //To update this values in localstorage
        //localStorage.setItem('cart',JSON.stringify(cart));
        
        // Update cart value on the page
        // document.getElementById('qty').innerHTML = cart[idstr];

        //Update that changed value
        //document.getElementById('qty').innerHTML = Object.keys(cart).length;
        updateCart(cart);
        updateCartPopover(cart);
    });

   
    //document.getElementById('popcart').setAttribute('data-bs-content','<h2>items</h2>');
    function updateCart(cart){
        var sum_of_items = 0;
        for(var item in cart){
            //console.log('updatecart function');
            //console.log(document.getElementsByClassName('div'+item).length);
            //item will be pr11 or something the id of product
            
            sum_of_items = sum_of_items + cart[item][0];
            var mytags = document.getElementsByClassName('div'+item);

            for(var i in mytags){
                document.getElementsByClassName('div'+item)[i].innerHTML = "<button id='minus" + item + "'class='btn btn-primary minus'>-</button><span class='cart' id='val" + item + "'> " + cart[item][0] + "</span> <button id='plus" + item + "' class='btn btn-primary plus'> + </button>";
            }
            if(cart[item][0] == 0){
                console.log('Ay Caramba!');
                console.log(cart);
                delete cart[item];
                //console.log(cart);
                //console.log('reached 0');
                //console.log(document.getElementsByClassName('div'+item)[0]);
                //console.log(document.getElementsByClassName('div'+item)[0].innerHTML);
                document.getElementsByClassName('div'+item)[0].innerHTML = "<button type='button' id='" + item + "' class='btn btn-primary cart btn-block mb-2'>Add to Cart</button>";
                //console.log(document.getElementsByClassName('div'+item)[0].innerHTML);
                //console.log(document.getElementsByClassName('div'+item)[0]);
                console.log(cart);
            }
        }

        //to save the changes in cart
        localStorage.setItem('cart',JSON.stringify(cart));
        document.getElementById('qty').innerHTML = sum_of_items;
        updateCartPopover(cart);
    }

    $('.cart-btn').on('click',"button.minus",function(){
        console.log('minus button was clicked');
        console.log(this.id);//minuspr--
        var p_id = this.id.slice(5,);//this will return from 6th character[0 to 4 are 5 characters] to last i.e pr-
        cart[p_id][0] = cart[p_id][0] - 1;
        cart[p_id][0] = Math.max(0,cart[p_id][0]);//so that the product qty in cart doesnot go lower than 0
        {% comment %} console.log(document.getElementById('val'+p_id).innerHTML); {% endcomment %}
        console.log(document.getElementById('val'+p_id));
        console.log(document.getElementById('val'+p_id).length);
        console.log('look here');
        document.getElementById('val'+p_id).innerHTML = cart[p_id][0];
        
        console.log(cart);
        updateCart(cart);
        updateCartPopover(cart);
    });

    $('.cart-btn').on('click',"button.plus",function(){
        console.log('plus button was clicked');
        console.log(this.id);//pluspr--
        var p_id = this.id.slice(4,);//this will return from 5th character[0 to 3 are 4 characters] to last i.e pr-
        cart[p_id][0] = cart[p_id][0] + 1;
        document.getElementById('val'+ p_id).innerHTML = cart[p_id][0];
        console.log(cart);
        updateCart(cart);
        updateCartPopover(cart);
    });
   

    
    function updateCartPopover(cart){
        console.log('updateCartPopover is running');
        console.log(cart);
        console.log(Object.keys(cart).length);

        if(Object.keys(cart).length > 0){
            var popStr = "";
            //popStr = popStr + "<h4>Items in your cart</h4>";
            var i = 1;
            console.log(cart);
            for(var item in cart){
                console.log(document.getElementsByClassName('name'+ item));
                console.log(item);
                popStr = popStr +  "<br>" + "<b>" + i + ". </b>" + document.getElementsByClassName('name'+ item)[0].innerHTML + "<b> Qty: </b>" + cart[item][0];
                i = i + 1;
            } 
            popStr = popStr + "<div class='my-2 mx-2'><a href='/checkout/' id='checkout' class='btn btn-primary'>Checkout</a><a id='clearcart' class='btn btn-primary mx-2'>Clear Cart</a></div>" 
            console.log(popStr);
            document.getElementById('popcart').setAttribute('data-bs-content',popStr);
            $(document).ready(function() {
                $('#popcart').popover();
            });
        }
    }

    $(document).on('click', '#clearcart', function ClearCart(){
        console.log('clear cart is running');
        cart = JSON.parse(localStorage.getItem('cart'));
        for(var item in cart){
            document.getElementsByClassName('div' + item).innerHTML = "<button type='button' id='" + item + "' class='btn btn-primary cart btn-block mb-2'>Add to Cart</button>"
        }
        localStorage.clear();
        cart = {};
        updateCart(cart);

    });
    //to update popover cart
</script>
{% endblock %}
