{% extends 'MyShop/main.html' %} 

{% block style %}
{% comment %} quantity of product in view product page {% endcomment %}
.qty_vp{
  line-height: 230%;
}

{% endblock %}
{% block body %}

{% load static %}


  <div class='container my-5'>
    <div class='row'>
        <h2 class='mb-3 namepr{{product.product_id}}'>{{product.product_name}}</h2>
        <h6 class='mb-3'>{{product.product_sdesc}}</h6>
       
    </div>
    <div class="row my-3 img-row">
      <div class="col-md-4 col-sm-4 my-image imgpr{{product.product_id}}">
        <img src='/media/{{product.product_img}}' class='img-fluid'>
      </div>
      <div class="col-md-8 col-sm-8 px-5">
        <h2 class='mb-3 pricepr{{product.product_id}}'>Price: Rs.{{product.product_price}}</h2>
        {% for pl in ldesc %}
            <li class='my-1'>{{pl}}</li>
        {% endfor %}


        <div class="gap-3 justify-content-md-start mt-4 divpr{{product.product_id}} cart-btn">
          <button type="button" id='pr{{product.product_id}}' class="mx-3 btn btn-outline-dark btn-lg px-4 cart">Add to Cart</button>
          <button type="button" class="btn btn-outline-dark btn-lg px-4">Buy Now</button>
        </div>
      </div>
    </div>
  </div>



{% endblock %}

{% block update_cart %}"<button type='button' id='" + item + "' class='mx-3 btn btn-outline-dark btn-lg px-4 cart'>Add to Cart</button><button type='button' class='btn btn-outline-dark btn-lg px-4'>Buy Now</button>"{% endblock %}


{% block update_cart2 %} "<button id='minus" + item + "' class='btn btn-dark minus'>-</button><span class='cart qty_vp px-3' id='val" + item + "'> " + cart[item][0] + "</span> <button id='plus" + item + "' class='btn btn-dark plus'>+</button><button type='button' class='mx-3 btn btn-outline-dark  px-4'>Buy Now</button>"{% endblock %}